<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 jhiTranslate="medicalCertificate.home.createOrEditLabel"></h2>

      <div>
        <div class="row">
          <div class="col-6 form-group">
            <label class="form-control-label" jhiTranslate="medicalCertificate.emissionDate"></label>
            <div class="d-flex">
              <input
                name="emissionDate"
                class="form-control"
                formControlName="emissionDate"
                matInput
                [matDatepicker]="emissionDatePicker"
              />
              <mat-datepicker-toggle matSuffix [for]="emissionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #emissionDatePicker></mat-datepicker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medicalCertificate.patient"></label>
          <input
            class="form-control"
            type="text"
            aria-label="Number"
            matInput
            name="patient"
            (keyup)="searchPatient()"
            formControlName="patient"
            [matAutocomplete]="autoPatient"
          />
          <mat-autocomplete #autoPatient="matAutocomplete" [displayWith]="displayPatient">
            <mat-option *ngFor="let patient of patients" [value]="patient">
              {{ patientLabelSelector(patient) }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medicalCertificate.diagnosis"></label>
          <textarea type="text" class="form-control" rows="4" cols="50" name="diagnosis" formControlName="diagnosis"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medicalCertificate.internationalDisease"></label>
          <input
            class="form-control"
            type="text"
            aria-label="Number"
            matInput
            name="internationalDisease"
            (keyup)="searchInternationalDisease()"
            formControlName="internationalDisease"
            [matAutocomplete]="internationaDiseaseAutocomplete"
          />
          <mat-autocomplete #internationaDiseaseAutocomplete="matAutocomplete" [displayWith]="displayInternationalDisease">
            <mat-option *ngFor="let internationalDisease of internationalDiseases" [value]="internationalDisease">
              {{ internationalDiseaseLabelSelector(internationalDisease) }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" jhiTranslate="medicalCertificate.symptoms"></label>
          <div class="col-sm-10">
            <span jhiTranslate="global.form.no"></span>
            <mat-slide-toggle name="symptoms" formControlName="symptoms"></mat-slide-toggle>
            <span jhiTranslate="global.form.yes"></span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" jhiTranslate="medicalCertificate.disease"></label>
          <div class="col-sm-10">
            <span jhiTranslate="global.form.no"></span>
            <mat-slide-toggle name="disease" formControlName="disease"></mat-slide-toggle>
            <span jhiTranslate="global.form.yes"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medicalCertificate.diseaseDescription"></label>
          <textarea
            type="text"
            class="form-control"
            rows="4"
            cols="50"
            name="diseaseDescription"
            formControlName="diseaseDescription"
          ></textarea>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" jhiTranslate="medicalCertificate.insulation"></label>
          <div class="col-sm-10">
            <span jhiTranslate="global.form.no"></span>
            <mat-slide-toggle name="insulation" formControlName="insulation"></mat-slide-toggle>
            <span jhiTranslate="global.form.yes"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medicalCertificate.insulationDescription"></label>
          <textarea
            type="text"
            class="form-control"
            rows="4"
            cols="50"
            name="insulationDescription"
            formControlName="insulationDescription"
          ></textarea>
        </div>

        <div class="row">
          <div class="col-4 form-group">
            <label class="form-control-label" jhiTranslate="medicalCertificate.fromDate"></label>
            <div class="d-flex">
              <input name="fromDate" class="form-control" formControlName="fromDate" matInput [matDatepicker]="fromDatePicker" />
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </div>
          </div>
          <div class="col-4 form-group">
            <label class="form-control-label" jhiTranslate="medicalCertificate.untilDate"></label>
            <div class="d-flex">
              <input name="untilDate" class="form-control" formControlName="untilDate" matInput [matDatepicker]="untilDatePicker" />
              <mat-datepicker-toggle matSuffix [for]="untilDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #untilDatePicker></mat-datepicker>
            </div>
          </div>
          <div class="col-4 form-group">
            <label class="form-control-label" jhiTranslate="medicalCertificate.totalDaysOff"></label>
            <input type="number" class="form-control" name="totalDaysOff" formControlName="totalDaysOff" />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="global.actions.cancel"></span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="global.actions.save"></span>
        </button>
      </div>
    </form>
  </div>
</div>
