<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 jhiTranslate="settings.title" *ngIf="account"></h2>

      <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success"></div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate autocomplete="off">
        <div class="row">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="settings.form.firstname"></label>
            <input type="text" class="form-control" name="firstName" formControlName="firstName" />
            <jhi-input-validation [control]="settingsForm.get('firstName')"></jhi-input-validation>
          </div>

          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="settings.form.lastname"></label>
            <input type="text" class="form-control" name="lastName" formControlName="lastName" />
            <jhi-input-validation [control]="settingsForm.get('lastName')"></jhi-input-validation>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="settings.form.contactPhoneNumber"></label>
            <input type="text" class="form-control" name="contactPhoneNumber" formControlName="contactPhoneNumber" />
            <jhi-input-validation [control]="settingsForm.get('contactPhoneNumber')"></jhi-input-validation>
          </div>

          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="settings.form.email"></label>
            <input type="email" class="form-control" name="email" formControlName="email" />
            <jhi-input-validation [control]="settingsForm.get('email')"></jhi-input-validation>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="settings.form.address"></label>
          <input type="text" class="form-control" name="occupation" formControlName="address" />
          <jhi-input-validation [control]="settingsForm.get('address')"></jhi-input-validation>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="settings.form.occupation"></label>
            <input type="text" class="form-control" name="occupation" formControlName="occupation" />
            <jhi-input-validation [control]="settingsForm.get('occupation')"></jhi-input-validation>
          </div>

          <div class="form-group col-6" *ngIf="languages && languages.length > 0">
            <label jhiTranslate="settings.form.language"></label>
            <select class="form-control" name="langKey" formControlName="langKey">
              <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
            </select>
          </div>
        </div>

        <div class="row" *ngIf="hasAnyAuthority([Authority.DOCTOR])">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="userManagement.certificate"></label>
            <input type="file" class="form-control" (change)="saveCertificate($event)" />
          </div>

          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="userManagement.certificatePassword"></label>
            <input
              type="password"
              class="form-control"
              name="certificatePassword"
              formControlName="certificatePassword"
              autocomplete="off"
            />
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="global.actions.save"></button>
      </form>
    </div>
  </div>
</div>
