<div>
  <h2>
    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title"></span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span jhiTranslate="userManagement.home.createLabel"></span>
      </button>
    </div>
  </h2>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" jhiSortBy="identificationType">
            <span jhiTranslate="userManagement.identificationType.label"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dni"><span jhiTranslate="userManagement.dni"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span jhiTranslate="userManagement.firstName"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span jhiTranslate="userManagement.lastName"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="userManagement.email"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
          <th scope="col"><span jhiTranslate="userManagement.profiles"></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users">
          <td [jhiTranslate]="identificationTypeName(user.identificationType!)"></td>
          <td>{{ user.dni }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              (click)="setActive(user, true)"
              *ngIf="!user.activated"
              jhiTranslate="userManagement.deactivated"
            ></button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
              jhiTranslate="userManagement.activated"
            ></button>
          </td>
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge badge-info" [jhiTranslate]="autorityName(authority)"></span>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.actions.edit"></span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.actions.delete"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="maxSize"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
