<div>
  <h2 id="page-heading" data-cy="MedicalCertificadeHeading">
    <span jhiTranslate="medicalServicesApp.medicalCertificade.home.title">Medical Certificades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="medicalServicesApp.medicalCertificade.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medical-certificade"
        [routerLink]="['/medical-certificade/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="medicalServicesApp.medicalCertificade.home.createLabel"> Create a new Medical Certificade </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="medicalCertificades?.length === 0">
    <span jhiTranslate="medicalServicesApp.medicalCertificade.home.notFound">No medicalCertificades found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="medicalCertificades && medicalCertificades.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="emissionDate">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.emissionDate">Emission Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clinicHistoryNumber">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.clinicHistoryNumber">Clinic History Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identificationType">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.identificationType">Identification Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identification">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.identification">Identification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phone">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.phone">Phone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobilePhone">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.mobilePhone">Mobile Phone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attentionDate">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.attentionDate">Attention Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="diagnosis">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.diagnosis">Diagnosis</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="restType">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.restType">Rest Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fromDate">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.fromDate">From Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="untilDate">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.untilDate">Until Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observation">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.observation">Observation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="symptom">
            <span jhiTranslate="medicalServicesApp.medicalCertificade.symptom">Symptom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicalCertificade of medicalCertificades; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medical-certificade', medicalCertificade.id, 'view']">{{ medicalCertificade.id }}</a>
          </td>
          <td>{{ medicalCertificade.emissionDate | formatMediumDatetime }}</td>
          <td>{{ medicalCertificade.firstName }}</td>
          <td>{{ medicalCertificade.lastName }}</td>
          <td>{{ medicalCertificade.address }}</td>
          <td>{{ medicalCertificade.clinicHistoryNumber }}</td>
          <td jhiTranslate="{{ 'medicalServicesApp.IdentificationType.' + medicalCertificade.identificationType }}">
            {{ medicalCertificade.identificationType }}
          </td>
          <td>{{ medicalCertificade.identification }}</td>
          <td>{{ medicalCertificade.phone }}</td>
          <td>{{ medicalCertificade.mobilePhone }}</td>
          <td>{{ medicalCertificade.attentionDate | formatMediumDatetime }}</td>
          <td>{{ medicalCertificade.diagnosis }}</td>
          <td>{{ medicalCertificade.restType }}</td>
          <td>{{ medicalCertificade.fromDate | formatMediumDatetime }}</td>
          <td>{{ medicalCertificade.untilDate | formatMediumDatetime }}</td>
          <td>{{ medicalCertificade.total }}</td>
          <td>{{ medicalCertificade.observation }}</td>
          <td>{{ medicalCertificade.symptom }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medical-certificade', medicalCertificade.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medical-certificade', medicalCertificade.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medicalCertificade)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="medicalCertificades && medicalCertificades.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
