<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="medicalCertificade">
      <h2 data-cy="medicalCertificadeDetailsHeading">
        <span jhiTranslate="medicalServicesApp.medicalCertificade.detail.title">Medical Certificade</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ medicalCertificade.id }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.emissionDate">Emission Date</span></dt>
        <dd>
          <span>{{ medicalCertificade.emissionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.firstName">First Name</span></dt>
        <dd>
          <span>{{ medicalCertificade.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.lastName">Last Name</span></dt>
        <dd>
          <span>{{ medicalCertificade.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.address">Address</span></dt>
        <dd>
          <span>{{ medicalCertificade.address }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.clinicHistoryNumber">Clinic History Number</span></dt>
        <dd>
          <span>{{ medicalCertificade.clinicHistoryNumber }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.identificationType">Identification Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'medicalServicesApp.IdentificationType.' + medicalCertificade.identificationType }}">{{
            medicalCertificade.identificationType
          }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.identification">Identification</span></dt>
        <dd>
          <span>{{ medicalCertificade.identification }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.phone">Phone</span></dt>
        <dd>
          <span>{{ medicalCertificade.phone }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.mobilePhone">Mobile Phone</span></dt>
        <dd>
          <span>{{ medicalCertificade.mobilePhone }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.attentionDate">Attention Date</span></dt>
        <dd>
          <span>{{ medicalCertificade.attentionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.diagnosis">Diagnosis</span></dt>
        <dd>
          <span>{{ medicalCertificade.diagnosis }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.restType">Rest Type</span></dt>
        <dd>
          <span>{{ medicalCertificade.restType }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.fromDate">From Date</span></dt>
        <dd>
          <span>{{ medicalCertificade.fromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.untilDate">Until Date</span></dt>
        <dd>
          <span>{{ medicalCertificade.untilDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.total">Total</span></dt>
        <dd>
          <span>{{ medicalCertificade.total }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.observation">Observation</span></dt>
        <dd>
          <span>{{ medicalCertificade.observation }}</span>
        </dd>
        <dt><span jhiTranslate="medicalServicesApp.medicalCertificade.symptom">Symptom</span></dt>
        <dd>
          <span>{{ medicalCertificade.symptom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/medical-certificade', medicalCertificade.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
