<div>
  <h2>
    <span jhiTranslate="medicalCertificate.home.title"></span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" *ngIf="medicalCertificates?.length === 0">
    <span jhiTranslate="medicalCertificate.home.notFound"></span>
  </div>

  <div class="table-responsive" *ngIf="medicalCertificates && medicalCertificates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="emissionDate">
            <span jhiTranslate="medicalCertificate.emissionDate"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="patient.firstName">
            <span jhiTranslate="medicalCertificate.patient"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fromDate"><span jhiTranslate="medicalCertificate.fromDate"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="untilDate">
            <span jhiTranslate="medicalCertificate.untilDate"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalDaysOff">
            <span jhiTranslate="medicalCertificate.totalDaysOff"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicalCertificate of medicalCertificates; trackBy: trackId">
          <td>{{ medicalCertificate.emissionDate | formatMediumDate }}</td>
          <td>{{ patientLabel(medicalCertificate.patient!) }}</td>
          <td>{{ medicalCertificate.fromDate | formatMediumDate }}</td>
          <td>{{ medicalCertificate.untilDate | formatMediumDate }}</td>
          <td>{{ medicalCertificate.totalDaysOff }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="download(medicalCertificate)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.actions.download"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="medicalCertificates && medicalCertificates.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
