<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title"></h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span jhiTranslate="reset.request.messages.info"></span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="reset.request.messages.success"></span>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reset.request.login"></label>
          <input type="text" class="form-control" name="login" formControlName="login" #login />
          <jhi-input-validation [control]="resetRequestForm.get('login')"></jhi-input-validation>
        </div>

        <button
          type="submit"
          [disabled]="resetRequestForm.invalid"
          class="btn btn-primary"
          jhiTranslate="reset.request.form.button"
        ></button>
      </form>
    </div>
  </div>
</div>
